::placeholder {
  color: #929fc3 !important;
}

body {
  padding: 20px;
}

input {
  border: 1px solid #dae2f5 !important;
}

.input > i {
  color: #929fc3 !important;
}

a {
  text-decoration: underline !important;
  color: #929fc3;
}

a:hover {
  color: #929fc3;
  text-decoration: none !important;
}
